html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 20px;
}

body{
  background-image: url("hikesd.jpg");
  background-size: 1500px 1000px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.btn {
  background-color: orange;
}

.container{
  padding: 30px;
}
.stateDropdown{
  box-shadow: 2px 5px lightgray;
  width: 100%;
  animation-duration: 1s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 250%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.collapsibleDiv{
  width: 100%;
  
}
.collapsible-body{
  background-color: rgba(255,255,255,.5);
  max-height: 50vh;
  overflow: auto;
}
.input-field{
  margin-top: .5rem;
}
.card {
  height: inherit;
  background-color: rgb(22, 160, 160);
  margin: 20px;
  border-radius: 5px;
  color: white;
  border: rgb(66, 66, 66) solid 1px;
  text-align: center;
}

.tempDiv {
  font-size: 18px; 
  font-weight: bolder; 
  color:rgb(49, 49, 49);
  margin-top: 8px;;

}

.windSpeedDiv {
  font-size: 12px; 
  font-weight: bolder; 
  color:rgb(49, 49, 49);
}

form.signup,
form.login {
  margin-top: 50px;
}